<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

  <bean id="vehicleService" class="training.service.VehicleServiceSpringImpl">
    <property name="vehicleRepo" ref="vehicleRepo"/>
  </bean>

  <bean id="vehicleRepo" class="training.repository.VehicleRepoImpl">
  </bean>

</beans>